version: '28.3.2'

services:
  db:
    image: postgres:14.3
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    container_name: SistemaNuevo2
    volumes:
      - ./postgres:/var/lib/postgresql/data


